<div class="col-md-6">
  <span [hidden]="!invoicesLoading">Loading <i class="fa fa-spinner fa-pulse"></i></span>
  <table class="table table-sm" [hidden]="invoicesLoading">
    <thead>
      <th></th>
      <th></th>
      <th>Items</th>
      <th>Total amount</th>
      <th></th>
    </thead>
    <tbody>
      <template ngFor #data [ngForOf]="invoices" #i="index">
        <tr>
          <td [class.gk-table-status-ok]="data.sale.paid" [class.gk-table-status-error]="!data.sale.paid"></td>

          <td>
            <dl>
              <dt>Due date</dt>
              <dl>{{ data.invoice.dueDate }}</dl>
              <dt>Issue date</dt>
              <dl>{{ data.sale.date }}</dl>
            </dl>
          </td>

          <td>
            <span *ngFor="#line of data.sale.lines">
              {{line.description}} : <i>{{ line.netPrice / 100}} ,-</i>
              <br/>
            </span>
          </td>

          <td>
            <i>{{ data.invoice.net / 100 }}</i>
          </td>

          <td>
            <div (click)="$event.preventDefault()">
              <div class="btn-group" dropdown [isOpen]="status.isopen" *ngIf="!data.sale.paid">
                <button id="single-button" type="button" class="btn btn-primary btn-sm" dropdownToggle>
                  Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button" drop>
                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/Profile/Invoices/Settle', {'invoiceNr': data.invoice.invoiceNumber}]">Settle</a></li>
                </ul>
              </div>
            </div>
          <td>
        </tr>
      </template>
    </tbody>
  </table>
</div>
