<div class="col-md-6">
  <span [hidden]="!isLoading">Loading <i class="fa fa-spinner fa-pulse"></i></span>

  <div [hidden]="isLoading">
    <span [hidden]="!sale.paid">
      Happy times, invoice number {{sale.identifier}} is already paid!
    </span>

    <div [hidden]="sale.paid || isDone">
      <h3>Invoice Settle</h3>
      <dl>
        <dt>Issued date</dt>
        <dd>{{sale.date}}</dd>

        <dt>Due Date</dt>
        <dd>{{ invoice.dueDate }}</dd>
        <dt>Amount</dt>
        <dd>
          {{ invoice.net / 100 }} ,-
        </dd>

      </dl>

      <div class="col-md-6" [hidden]="!isDone">
        Thank you so much, your payment is done!
      </div>

      <div class="col-md-6" [hidden]="isDone">
        <div>
          <form id="checkout">
            <div id="payment-form"></div>

            <button class="btn btn-success" [hidden]="btIntegration === null" type="submit">Pay</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
