<div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
  <ul class="nav navbar-nav">
   <li class="nav-item">
     <a class="nav-link" [routerLink]="['/Home']">Home <span class="sr-only">Home </span></a>
   </li>
   <li class="nav-item">
     <a class="nav-link" [routerLink]="['/About']">About</a>
   </li>
  </ul>

  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Signup']" [hidden]="profile.mail">Signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Login']" [hidden]="profile.mail">Login</a>
    </li>
    <li class="nav-item dropdown" [hidden]="!profile.mail" dropdown [isOpen]="status.isopen">
     <a class="nav-link dropdown-toggle" data-toggle="toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown($event)" dropdown-toggle>
      <gravatar [email]="profile.mail" imgSize="30"></gravatar>
      {{profile.givenName}} {{profile.sn}}
     </a>

     <div class="dropdown-menu" aria-labeledby="Profile">
      <a class="dropdown-item" [routerLink]="['/Profile/Home']">Profile</a>
      <a class="dropdown-item" [routerLink]="['/Logout']">Logout</a>
     </div>
    </li>

    <li class="nav-item">
    </li>
  </ul>
</div>
