<nav class="navbar navbar-default navbar-fixed-top navbar-dark bg-primary">
  <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
    ☰
  </button>
  <a class="navbar-brand" [routerLink]="['/Home']">Creator</a>

  <navbar></navbar>
</nav>

<div class="container-fluid" id="main">
  <div class="row row-offcanvas row-offcanvas-left">
    <sidebar></sidebar>

    <div class="col-md-12 col-lg-12 main">
      <!--toggle sidebar button-->
      <p class="hidden-md-up">
        <button type="button" class="btn btn-primary-outline btn-sm" data-toggle="offcanvas"><i class="fa fa-chevron-left"></i> Menu</button>
      </p>

			<router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--/.container-->
<footer class="container-fluid">
  <p class="text-right small">©2016 Creator AS</p>
</footer>
