<div class="col-md-4">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Who am I</h4>
      <dl>
        <dt>Name</dt>
        <dd>{{ profile.givenName }} {{ profile.sn }}</dd>
        <dt>Email</dt>
        <dd>{{ profile.mail }}<dd>
        <dt>Username</dt>
        <dd>{{ profile.userName }}</dd>
        <dt>Phone</dt>
        <dd>{{ profile.telephoneNumber }}</dd>
      </dl>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Me & Creator</h4>
      <dl>
        <dt>Status</dt>
        <dd>
          <state-icon [stateString]="profile.state"></state-icon> {{profile.state}}
        </dd>
      </dl>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Subscriptions</h4>

      <table class="table table-sm table-hover">
        <thead>
          <th>Name</th>
          <th>Expires</th>
          <th>State</th>
        </thead>

        <tbody>
          <tr *ngFor="#item of profile.subscriptions">
            <td>{{ item.name }}</td>
            <td>{{ item.expires_at }}</td>
            <td><state-icon [stateString]="item.state"></state-icon> {{ item.state }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
