// Styling for the whole page
$icon-font-path: "~bootstrap/fonts/bootstrap/";

@import '~bootstrap/scss/bootstrap';
@import './dashboard.scss';

.gk-table-status {
  padding: 0;
  width: 1px;
  margin: 0;
}

.gk-table-status-ok {
  background-color: #00a96d !important;
}

.gk-table-status-error {
  background-color: #cc0000 !important;
}
