<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!--div class="login center-block" [hidden]="isLoading">
      <h1>Login</h1>
      <form role="form" (submit)="login($event, username.value, password.value)">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" #username class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" #password class="form-control" id="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
        <a href="/signup">Click here to Signup</a>
      </form>
    </div-->
    <a href="{{openidUrl}}">Creator ID</a>
  </div>
</div>
