<div class="row">
  <div class="col-sm-1">
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Profile/Home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Profile/Invoices/Overview']">Invoices</a>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>

</div>
