<div [hidden]="true" class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Home']">Home</a>
    </li>
  </ul>
</div>
<!--/col-->
