<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form [ngFormModel]="myForm" (ngSubmit)=onSubmit(myForm.value)>

      <!-- General info, name etc-->
      <div class="form-group row" [class.has-danger]="!firstName.valid && firstName.touched">
        <label class="col-sm-3 form-control-label" for="firstName">First Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" ngControl="firstName" id="firstName" placeholder="Jane">
        </div>
      </div>

      <div class="form-group row" [class.has-danger]="!lastName.valid && lastName.touched">
        <label class="col-sm-3 form-control-label" for="lastName">Last Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" ngControl="lastName" id="lastName" placeholder="Doe">
        </div>
      </div>

      <div class="form-group row" [class.has-danger]="!email.valid && email.touched">
        <label class="col-sm-3 form-control-label" for="email">Email address</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" ngControl="email" id="email" placeholder="jane@doe.name">
        </div>
      </div>

      <div class="form-group row" [class.has-danger]="!phone.valid && phone.touched">
        <label class="col-sm-3 form-control-label" for="phone">Phone Nr</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" ngControl="phone" id="phone" placeholder="+4799999999">
        </div>
      </div>

      <div class="form-group row" [class.has-danger]="!birthDate.valid && birthDate.touched">
        <label class="col-sm-3 form-control-label" for="birthDate">Birth Date</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" ngControl="birthDate" id="birthDate">
        </div>
      </div>

      <!-- membership type-->
      <div class="form-group row">
        <label class="col-sm-3 form-control-label" for="membershipType">Membership type</label>
        <div class="col-sm-6">
          <div class="radio">
            <label>
              <input type="radio" name="membershipType" id="monthly" value="monthly" checked>
              Monthly
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="membershipType" id="querterly" value="querterly">
              Querterly
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="membershipType" id="donation" value="donation">
              Donation
            </label>
          </div>
        </div>
      </div>

      <button class="btn btn-success" [disabled]="!myForm.valid" type="submit">Signup</button>
    </form>
  </div>
</div>
